
<p> Wybrałes:<%= @choice %></p>
<p><a href="/" rel='stylesheet' /> <button type="submit" class="btn btn-primary"> back </button></>
<p><a href="/results" /> <button type="submit" class="btn btn-primary"> rezultat </button> </p>
<a href ="/stylesheet/style.css" rel ="stylesheet" />

