<!DOCTYPE html>
<html>
    <head> 
        <title> Menu</title>    
        <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
        <link href="/stylesheet/style.css" rel="stylesheet" />
    </head>
    
    <body class="container">
        <img src="https://goodfoodbaddie.com/wp-content/uploads/elementor/thumbs/the-best-pineapple-shrimp-skewers-for-grilling-ort1ojyskzqzdc446wg2foei89mcd7o17nnnu8kge8.jpg" rel="stylesheet" />
        <h1> <%= @title %> </h1>

        <% yield %>
    </body>
</html>
