
<% Choices.each do |value, text| %>
    <p> <%= text %>: <%= @votes[value] || 0 %> </p>
<% end %>
 <p><a href="/" rel='stylesheet' /> <button type="submit" class="btn btn-primary"> back </button></>
    
 <a href ="/stylesheet/style.css" rel ="stylesheet" />


